<section class="container">

<div class=" row mx-auto w-50 pt-5">
    <div class="col-lg-12 ">
        <div class="text-center">Add product</div>
        <form action="">
<label for="">Name</label>
<input type="text" name="Name" class="form-control">
<label for="">Category</label>
<input type="text" name="Category" class="form-control">
<label for="">Price</label>
<input type="text" name="Price" class="form-control">
<label for="">Image</label>
<input type="file" class="form-control">

<button type="submit" class="btn btn-success mt-4">Submit</button>
        </form>
</div>
</div>
</section>