<div class=" bb container-fluid ">
<div  class="row h-100">
    <div class="col-md-6 m-auto ">

    <div class="vv">

        <div class="container mt-5 pl-5">
            
            <h2 class="text-center"login></h2>
            <form action="/login">
                <div class="form-group m-4">
         
                    <input type="email" class="form-control" name="email" placeholder="Enter email">
                </div>
                <div class="form-group m-4">
                    
                    <input type="password" class="form-control" name="pass" placeholder="Password">
                </div>
                <a href="/signup" style="color: black;">Creat new account </a>
                <button type="submit" style="color: aliceblue; background-color: rgb(36, 34, 182);" class="btn btn-primery float-end">Login</button>
                {{#if err}}
                <p class="text-danger ">{{err}}</p>
                {{/if}}
            </form>
            </div>
        </div>
    </div>
</div>
</div>