<div class="row">
    <div class="col-md-6 pl-5 mx-auto">
        <h2 class="text-center">Creat new account</h2>
        <form action="/signup" method="post" >
            <div class="form-group">
                <label >name</label>
                <input type="text" class="form-control" new="Name" placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label >Email address</label>
                <input type="email" class="form-control" name="Email" placeholder="Enter email" >
            </div>
             <div class="form-group">
                <label >password</label>
                <input type="text" class="form-control" new="password" placeholder="password">
            </div>
            <a href="/login">Alredy have account</a>
            <button type="submit" class="btn btn-primery float-right">Signup</button>
        </form>
    </div>
</div>